  <template>
  <div class="car" v-if="childDataLoaded" @click="notificaion2">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="car__slider">
            <swiper :options="slider" ref="slider">
              <swiper-slide v-for="image in car.car_images" :key="image.id">
                <img :src="`https://hb.bizmrg.com/soautomedia/${image.name}`" alt="">
              </swiper-slide>
              <div class="swiper-button-prev" slot="button-prev"></div>
              <div class="swiper-button-next" slot="button-next"></div>
            </swiper>
            <div class="thumbnail">
              <div class="thumbnail__block" v-for="(image, index) in car.car_images" :key="image.id" @click="toSlide($event)">
                <img :data-id="index" :src="`https://hb.bizmrg.com/soautomedia/${image.name}`" alt="">
              </div>
            </div>
          </div>
          <div class="car__technical d-none d-lg-block">
            <div class="row">
              <div class="col-lg-4">
                <div class="car__technical__block">
                  <span>Мощность двигателя </span>
                  <p>{{ car.power ? car.power + ' л/с' : 'Не указано' }}</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="car__technical__block">
                  <span>Объем двигателя</span>
                  <p>{{ car.engine_volume ? car.engine_volume + ' л' : 'Не указано' }}</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="car__technical__block">
                  <span>Топливо</span>
                  <p>{{ car.fuel_type.name ? car.fuel_type.name : 'Не указано' }}</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="car__technical__block">
                  <span>Коробка передач</span>
                  <p>{{ car.gear ? car.gear.name : 'Не указано' }}</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="car__technical__block">
                  <span>Тип привода</span>
                  <p>{{ car.transmission ? car.transmission.name : 'Не указано' }}</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="car__technical__block">
                  <span>Пассажиров</span>
                  <p>{{ car.seats ? car.seats : 'Не указано' }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="car__user d-none d-lg-flex">
            <div class="car__user__photo">
              <img v-if="car.user.avatar" :src="car.user.avatar" alt="">
              <img v-else src="/image/user.png" alt="">
            </div>
            <div class="car__user__content">
              <h2>Владелец</h2>
              <h3>{{ car.user ? car.user.name : 'Не указан' }}</h3>
              <!-- <p v-if="car.user.validate" class="green">Верифицирован</p>
              <p v-else class="red">Не верифицирован</p> -->
            </div>
          </div>
          <div class="car__options d-none d-lg-block" v-if="carFeatures.length !== 0">
            <div class="row">
              <div class="col-12">
                <div class="heading">
                  <h2>Опции</h2>
                </div>
              </div>
              <div class="col-lg-6" v-for="feature in carFeatures" :key="feature.id">
                <div class="car__options__block">
                  <p>{{feature}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="car__desc d-none d-lg-block" v-if="car.description">
            <div class="heading">
              <h2>Описание</h2>
            </div>
            <p>{{ car.description.description }}</p>
          </div>
          <div class="car__extra d-none d-lg-block" v-if="carExtraFeatures.length !== 0">
            <div class="heading">
              <h2>Дополнительные опции
            </h2>
            </div>
            <p>Используй дополнительные опции при бронировании.</p>
            <div class="car__extra__block" v-for="extra in carExtraFeatures" :key="extra.id">
              <div class="content">
                <h3>{{extra.name}}</h3>
                <p>{{extra.desc}}</p>
              </div>
              
              <div class="cost">
                {{extra.price}} ₽ <br>{{extra.time}}
              </div>
            </div>
          </div>
          <div class="car__map"></div>
          <!-- <div class="car__another__cars d-none d-lg-block">
            <div class="heading">
              <h2>Возможно тебе понравится</h2>
            </div>
            <swiper :options="anotherCars">
              <swiper-slide v-for="car in carAnotherCars" :key="car.id">
                <a :href="`/сarcard/${car.id}?id=${car.id}`" class="col-lg-4">
                  <div class="catalog-card">
                    <img :src="car.image" alt="">
                    <div class="catalog-card__block">
                      <h2>{{car.brand.name}} {{car.model.name}}
                        <span>{{car.cartype.name}}</span>
                      </h2>
                      <h3>{{car.cost_day}}₽
                        <span>сутки</span>
                      </h3>
                    </div>
                  </div>
                </a>
              </swiper-slide>
            </swiper>
            <div class="d-flex justify-content-center">
               <div class="swiper-pagination"></div>
            </div>
          </div> -->
        </div>
        <div class="col-lg-4 col-12">
          <h1>{{car.brand ? car.brand.name : 'Не указано'}} {{car.models_name ? car.models_name : 'Не указано'}}
            <span>{{ car.year_of_issue ? car.year_of_issue : 'Не указано' }}</span>
          </h1>
          <h2>{{car.cost_day ? car.cost_day : 'Не указано'}} ₽
            <span>сутки</span>
          </h2>
          <div class="car__date" id="from">
            <h4>Начало поездки</h4>
            <vue-datepicker :format="format" :language="ru" v-model="start.day" :disabledDates="start.disabledDates" @input="checkDates(); mileageCalculation();"></vue-datepicker>
            <vue-select v-model="start.time" :options="times" :clearable="false"></vue-select>
          </div>
          <div class="car__date" id="to">
            <h4>Конец поездки</h4>
            <vue-datepicker :format="format" :language="ru" v-model="end.day" :disabledDates="end.disabledDates" @input="checkDates(); mileageCalculation();"></vue-datepicker>
            <vue-select v-model="end.time" :options="times" :clearable="false"></vue-select>
          </div>

         

          <div class="car__delivery" id="dostavka">
            <h4>Место получения и возврата</h4>
            <vue-select placeholder="Ничего не выбрано" :options="delivery" :searchable="false" v-model="deliverySelected" :clearable="false">
              <template slot="option" slot-scope="delivery">
                <p>{{ delivery.label }}</p>
              </template>
            </vue-select>
          </div>


          <div class="d-flex justify-content-center" id="submit">
            <form ref="form" method="POST" :action="`/goToCheckout/${id}`" @submit.prevent="checkAvailableDate()">
              <input type="hidden" name="_token" :value="csrf">
              <input type="hidden" name="location_delivery" :value="deliverySelected.value">
              <input type="hidden" name="from" :value="getStartDay()">
              <input type="hidden" name="to" :value="getEndDay()">
              <input type="hidden" name="included_distance" :value="mileageInclusive">
              <button  v-if="!errorDate" class="btn filter-btn mt-4 mb-4">Забронировать</button>
            </form>
            
          </div>

            <div v-if="car.kasko">
              <strong><p style="font-size:22px">Предоплата всего 15%</p></strong>
            </div>
            <div v-else>
              <strong><p style="font-size:22px">Предоплата всего 25%</p></strong>
            </div>  

          <div v-if="errorDate" class="mb-3 alert alert-danger">
            Вы не можете забронировать машину в это время, выбирите другую дату
          </div>
          

          <div class="car__info__right" v-if="cancelBooking.visible">
            <h3>Бесплатная отмена брони</h3>
            <p>{{cancelBooking.text}}</p>
          </div>
          <div class="car__info__right" v-if="mileageInclusive">
            <h3>Доступен пробег
              <span>{{mileageInclusive}} км</span>
            </h3>
            <p v-if="car.assessed_value < 750000">5 ₽ км доплата за превышение</p>
            <p v-else-if="car.assessed_value > 750000 && car.assessed_value < 1000000">6 ₽ км доплата за превышение</p>
            <p v-else-if="car.assessed_value > 1000000 && car.assessed_value < 1250000">7 ₽ км доплата за превышение</p>
            <p v-else-if="car.assessed_value > 1250000 && car.assessed_value < 1500000">8 ₽ км доплата за превышение</p>
            <p v-else-if="car.assessed_value > 1500000 && car.assessed_value < 1750000">9 ₽ км доплата за превышение</p>
            <p v-else-if="car.assessed_value > 1750000 && car.assessed_value < 2000000">10 ₽ км доплата за превышение</p>
            <p v-else-if="car.assessed_value > 2000000 && car.assessed_value < 2500000">11 ₽ км доплата за превышение</p>
            <p v-else-if="car.assessed_value > 2500000 && car.assessed_value < 3000000">12 ₽ км доплата за превышение</p>
            <p v-else-if="car.assessed_value > 3000000 && car.assessed_value < 3500000">13 ₽ км доплата за превышение</p>
            <p v-else-if="car.assessed_value > 3500000 && car.assessed_value < 4500000">14 ₽ км доплата за превышение</p>
            <p v-else-if="car.assessed_value > 4500000 && car.assessed_value < 5500000">15 ₽ км доплата за превышение</p>
            <p v-else-if="car.assessed_value > 5500000 && car.assessed_value < 6500000">16 ₽ км доплата за превышение</p>
            <p v-else-if="car.assessed_value > 6500000">17 ₽ км доплата за превышение</p>
            
          </div>
          <div class="car__info__right" v-if="!mileageInclusive">
            <h3>Доступен пробег</h3>
            <p>Сутки
              <span>{{car.mileage_inclusive.day}} км</span>
            </p>
            <p>Неделя
              <span>{{car.mileage_inclusive.week}} км</span>
            </p>
            <p>Месяц
              <span>{{car.mileage_inclusive.month}} км</span>
            </p>
          </div>
          <div class="car__info__right">
            <h3>
              <a target="_blank" href="/renesans.pdf">Застраховано в </a>
              <img style="width: 70%" src="/image/Logo_renessans.svg.png">
            </h3>
          </div>
          <div class="car__share">
            <p>Поделись с друзьями</p>
          </div>
        </div>
        <div class="col-lg-8 d-block d-lg-none d-xl-none">
          <div class="car__technical">
            <div class="row">
              <div class="col-lg-4 col-6">
                <div class="car__technical__block">
                  <span>Мощность двигателя</span>
                  <p>{{ car.power ? car.power + ' л/с' : 'Не указано' }}</p>
                </div>
              </div>
              <div class="col-lg-4 col-6">
                <div class="car__technical__block">
                  <span>Объем двигателя</span>
                  <p>{{ car.engine_volume ? car.engine_volume + ' л' : 'Не указано' }}</p>
                </div>
              </div>
              <div class="col-lg-4 col-6">
                <div class="car__technical__block">
                  <span>Топливо</span>
                  <p>{{ car.fuel_type.name ? car.fuel_type.name : 'Не указано' }}</p>
                </div>
              </div>
              <div class="col-lg-4 col-6">
                <div class="car__technical__block">
                  <span>Коробка передач</span>
                  <p>{{ car.gear ? car.gear.name : 'Не указано' }}</p>
                </div>
              </div>
              <div class="col-lg-4 col-6">
                <div class="car__technical__block">
                  <span>Тип привода</span>
                  <p>{{ car.transmission ? car.transmission.name : 'Не указано' }}</p>
                </div>
              </div>
              <div class="col-lg-4 col-6">
                <div class="car__technical__block">
                  <span>Пассажиров</span>
                  <p>{{ car.seats ? car.seats : 'Не указано' }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="car__user">
            <div class="car__user__photo">
              <img v-if="car.user !== null" :src="car.user.avatar" alt="">
              <img v-else src="/image/logo.jpeg" alt="">
            </div>
            <div class="car__user__content">
              <h2>Владелец</h2>
              <h3>{{ car.user ? car.user.name : 'Не указан' }}</h3>
              <!-- <p v-if="car.user.validate" class="green">Верифицирован</p>
              <p v-else class="red">Не верифицирован</p> -->
            </div>
          </div>
          <div class="car__options" v-if="carFeatures.length !== 0">
            <div class="row">
              <div class="col-12">
                <div class="heading">
                  <h2>Опции</h2>
                </div>
              </div>
              <div class="col-lg-6" v-for="feature in carFeatures" :key="feature.id">
                <div class="car__options__block">
                  <p>{{feature}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="car__desc" v-if="car.description">
            <div class="heading">
              <h2>Описание</h2>
            </div>
            <p>{{ car.description.description }}</p>
          </div>
          <div class="car__extra" v-if="carExtraFeatures.length !== 0">
            <div class="heading">
              <h2>Дополнительные опции
            </h2>
            </div>
            <p>Используй дополнительные опции при бронировании.</p>
            <div class="car__extra__block" v-for="extra in carExtraFeatures" :key="extra.id">
              <div class="content">
                <h3>{{extra.name}}</h3>
                <p>{{extra.desc}}</p>
              </div>
              
              <div class="cost">
                {{extra.price}} ₽ <br>{{extra.time}}
              </div>
            </div>
          </div>
          <div class="car__map"></div>
          <!-- <div class="car__another__cars">
            <div class="heading">
              <h2>Возможно тебе понравится</h2>
            </div>
            <swiper :options="anotherCars">
              <swiper-slide v-for="car in carAnotherCars" :key="car.id">
                <a :href="`/сarcard/${car.id}`" class="col-lg-4">
                  <div class="catalog-card">
                    <img :src="car.image" alt="">
                    <div class="catalog-card__block">
                      <h2>{{car.brand.name}} {{car.model.name}}
                        <span>{{car.cartype.name}}</span>
                      </h2>
                      <h3>{{car.cost_day}}₽
                        <span>сутки</span>
                      </h3>
                    </div>
                  </div>
                </a>
              </swiper-slide>
            </swiper>
            <div class="d-flex justify-content-center">
               <div class="swiper-pagination"></div>
            </div>
          </div> -->
        </div>
      </div>
    </div>  
    <b-modal v-model="showModal" id="modal-1" title="Ошибка" hide-footer hideHeaderClose>
      <p class="my-4">К сожалению забронировать автомобиль на выбранный период невозможно, выберите другие даты.</p>
      <p v-if="errorBooking == 0">Этот автомобиль можно забронировать не менее чем на {{getMinRentTime()}} {{declensions(getMinRentTime(), ['день', 'дня', 'дней'])}}. Измените интервал аренды или выберите другой автомобиль.</p>
      <p v-if="errorBooking == 1">Этот автомобиль можно забронировать не более чем на {{getMaxRentTime()}} {{declensions(getMaxRentTime(), ['день', 'дня', 'дней'])}}. Измените интервал аренды или выберите другой автомобиль.</p>
      <div class="modal-footer">
        <button @click="showModal = !showModal" type="button" class="btn btn-close creating-cars-btn mt-0 yes" data-dismiss="modal">Понял(а)</button>
      </div> 
    </b-modal>
    <b-modal v-model="showModalRent" id="modal-2" title="Ошибка" hide-footer hideHeaderClose>
      <p class="my-4">К сожалению владелец не открыл автомобиль для аренды. Выберите другой автомобиль из каталога.</p>
      <div class="modal-footer">
        <button @click="goBack" type="button" class="btn btn-close creating-cars-btn mt-0 yes" data-dismiss="modal">Понял(а)</button>
      </div> 
    </b-modal>
  </div>
</template>

<script>
Date.prototype.addDays = function(days) {
  var dat = new Date(this.valueOf())
  dat.setDate(dat.getDate() + days);
  return dat;
}
Array.prototype.remove = function() {
  var what, a = arguments, L = a.length, ax;
  while (L && this.length) {
      what = a[--L];
      while ((ax = this.indexOf(what)) !== -1) {
          this.splice(ax, 1);
      }
  }
  return this;
};
import Vue from 'vue'
import axios from 'axios'
import dayjs from 'dayjs'
import Datepicker from 'vuejs-datepicker'
import {ru} from 'vuejs-datepicker/dist/locale'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import vSelect from 'vue-select'
import { BModal, BButton, BVModal} from 'bootstrap-vue'


//styles
import 'swiper/dist/css/swiper.css'
import 'vue-select/dist/vue-select.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'


export default {
  props: ['id', 'from', 'to', 'location'],
  components: {
    'vue-datepicker': Datepicker,
    'vue-select': vSelect,
    'b-modal': BModal,
    'b-button': BButton,
    swiper,
    swiperSlide,
  },
  data(){
    return{
      showModal: false,
      showModalRent: false,
      childDataLoaded: false,
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      url: this.$store.getters.getUrl,
      car: [],
      carFeatures: [],
      carExtraFeatures: [],
      carAnotherCars: [],
      ru: ru,
      times: [],
      format: 'dd-MM-yyyy',
      delivery: [],
      deliverySelected: '',
      rentDates: [],
      start: {
        day: '',
        time: {
          label: '10:00'
        },
        disabledDates: {
          to: dayjs().subtract(1, 'day').toDate(),
          from: dayjs('2020-10-1').toDate(),
          dates: [],
          ranges: []
        }
      },
      end: {
        day: '',
        time: {
          label: '10:00'
        },
        disabledDates: {
          to: dayjs().subtract(1, 'day').toDate(),
          from: dayjs('2020-10-1').toDate(),
          dates: [],
          ranges: []
        }
      },
      errorDate: false,
      slider: {
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      },
      anotherCars: {
        slidesPerView: 3,
        spaceBetween: 10,
        pagination: {
          el: '.swiper-pagination',
          type: 'bullets',
          clickable: true
        },
        breakpoints: {
          767: {
            slidesPerView: 1,
          },
        }
      },
      mileageInclusive: 0,
      cancelBooking: {
        visible: false,
        text: ''
      },
      errorBooking: '',
      bodyClick: false
    }
  },
  computed: {
    swiper() {
      return this.$refs.slider.swiper
    },
    
  },
  created(){   
    this.times = this.generateTimes()

    axios.get(`${this.url}/car-card/${this.id}`).then(res => {
      this.car = res.data  
      this.childDataLoaded = true    
    })
    axios.get(`${this.url}/car-card/${this.id}/features`).then(res => {
      this.carFeatures = res.data
    })
    axios.get(`${this.url}/car-card/${this.id}/extra-features`).then(res => {
      this.carExtraFeatures = res.data
    })
    // axios.get(`${this.url}/car-card/${this.id}/similar-autos`).then(res => {
    //   this.carAnotherCars = res.data.cars
    // })
    axios.get(`${this.url}/car-card/${this.id}/booked-dates`).then(res => {
      res.data.forEach(el => {
        this.start.disabledDates.dates.push(new Date(el));  
        this.end.disabledDates.dates.push(new Date(el));  
      });
    })
    axios.get(`${this.url}/car-card/${this.id}/rent-dates`).then(res => {
      
      if (res.data.length == 0) {        
        this.showModalRent = true
        this.errorDate = true
      } else{
        this.rentDates = res.data
        this.rangeDates();
        this.setDefaultDate();
        this.mileageCalculation();
        this.checkDates()
      }
    })
    axios.get(`${this.url}/car-card/${this.id}/delivery-places`).then(res => {
      let i = 0
      let id
      res.data.forEach(el => {
        i++
        if (i == 1) {
          id = el.id
        }
        this.delivery.push({
          label: el.title,
          value: el.id
        })
      })

      if (this.location) {
        this.deliverySelected = this.delivery.find(el => el.value === +this.location)
      } else{
        this.deliverySelected = this.delivery.find(el => el.value === id)
      }
      setTimeout(()=>{
        this.notificaion1()
      }, 3000)
    })
    
    
  },
  methods: {
    //Генерируем промежуточный интервал в 30 минут, от 00:00, до 23:30
    generateTimes: function() {


        let quarterHours = ["00", "30"];
        let times = [];


        times.push({label: "00:00"});
        times.push({label: "00:30"});
        times.push({label: "01:00"});
        times.push({label: "01:30"});
        times.push({label: "02:00"});
        times.push({label: "02:30"});
        times.push({label: "03:00"});
        times.push({label: "03:30"});
        times.push({label: "04:00"});
        times.push({label: "04:30"});
        times.push({label: "05:00"});
        times.push({label: "05:30"});
        times.push({label: "06:00"});
        times.push({label: "06:30"});
        times.push({label: "07:00"});
        times.push({label: "07:30"});
        times.push({label: "08:00"});
        times.push({label: "08:30"});
        times.push({label: "09:00"});
        times.push({label: "09:30"});
        times.push({label: "10:00"});
        times.push({label: "10:30"});
        times.push({label: "11:00"});
        times.push({label: "11:30"});
        times.push({label: "12:00"});
        times.push({label: "12:30"});
        times.push({label: "13:00"});
        times.push({label: "13:30"});
        times.push({label: "14:00"});
        times.push({label: "14:30"});
        times.push({label: "15:00"});
        times.push({label: "15:30"});
        times.push({label: "16:00"});
        times.push({label: "16:30"});
        times.push({label: "17:00"});
        times.push({label: "17:30"});
        times.push({label: "18:00"});
        times.push({label: "18:30"});
        times.push({label: "19:00"});
        times.push({label: "19:30"});
        times.push({label: "20:00"});
        times.push({label: "20:30"});
        times.push({label: "21:00"});
        times.push({label: "21:30"});
        times.push({label: "22:00"});
        times.push({label: "22:30"});
        times.push({label: "23:00"});
        times.push({label: "23:30"});

        // for(let i = 0; i < 24; i++){
        //   for(let j = 0; j < 2; j++){
        //     times.push({
        //       label: i + ":" + quarterHours[j]
        //     });
        //   }
        // }

        
      return times;
    },
    //Функция для миниаютюр слайдера
    toSlide: function(event) {
      let to = event.target.getAttribute('data-id')
      this.swiper.slideTo(to, 1000, false)
    },
    //Проверка даты, вызывается на каждое изминение datepicker
    checkDates: function(){
      let selectedDates;
      
      if (this.end.day) {
        selectedDates = this.generateDates(this.start.day, this.end.day)  
      }
      
      const curr = this
      if (this.start.day > this.end.day) {
        setTimeout(() => {
          this.errorDate = true
        }, 1000)
      } else{
        this.errorDate = false
      }

      
      // Проверка есть ли внутри выбранных дат, даты которые уже забронированы
  
        outer: for (let i = 0; i < selectedDates.length; i++) { 
          for (let a = 0; a < this.start.disabledDates.ranges.length; a++) {      
            let dates = this.generateDates(this.start.disabledDates.ranges[a].from, this.start.disabledDates.ranges[a].to) 
            delete dates[0]
            
            for (let y = 0; y < dates.length; y++) {

              if (dayjs(selectedDates[i]).format('DD-MM-YYYY') == dayjs(dates[y]).format('DD-MM-YYYY')) {
                curr.errorDate = true
                break outer
              } else{        
                curr.errorDate = false
              }
              
            }
          }
        }


      let time = this.start.time.label.split(':')
      let from = dayjs(this.start.day)
      let today = dayjs()
      let diff = from.diff(today, 'day');
      
      if (diff >= 7 ) {
        this.cancelBooking.visible = true
        this.cancelBooking.text = `До ${dayjs(this.start.day).subtract(7, 'day').format('DD-MM-YYYY')} 10:00`;
      } else{
        this.cancelBooking.visible = true
        this.cancelBooking.text = 'В течении двух часов'
      }
    },
    //Включенный пробег по дням, неделям, месяцам
    mileageCalculation: function() {          
      axios.get(`${this.url}/car-card/${this.id}/mileage`, {
        params: {
          from: this.getStartDay(),
          to: this.getEndDay()
        }
      }).then(res => {
        this.mileageInclusive = res.data
      })
    },
    //Получить дату от
    getStartDay: function(){ 
      return dayjs(this.start.day).format('DD-MM-YYYY') + ' ' + this.start.time.label
    },
    //Получить дату до
    getEndDay: function(){
      return dayjs(this.end.day).format('DD-MM-YYYY') + ' ' + this.end.time.label
    },
    /**
     * Возвращает массив дат от и до
     *
     * @param {date} start Дата от.
     * @param {date} end Дата от.
     */
    generateDates: function(start, end) {
      start = dayjs(start).format('MM/DD/YYYY');
      end = dayjs(end).format('MM/DD/YYYY');


      let dateArray = [];
      let currentDate = start;
      while (currentDate <= end) {
        dateArray.push(currentDate)
        currentDate = dayjs(currentDate).add(1, 'day').format('MM/DD/YYYY')
      }
      return dateArray;
    },
    //
    rangeDates: function(){
      let from = new Date();
      let to = dayjs(from).add(6, 'month').toDate();

      let dates = this.generateDates(from, to);    
      
      //Удаляем из массива дат допустимые даты
      if (this.rentDates.length) {
        this.rentDates.forEach((rent, index, arr) => {
          let next = arr[index+1]
          if (next == undefined) {
            next = {}
            next.from = to
          }
          this.start.disabledDates.ranges.push({
            from: dayjs(rent.to).toDate(),
            to: dayjs(next.from).subtract(1, 'day').toDate(),
          })
          this.end.disabledDates.ranges.push({
            from: dayjs(rent.to).toDate(),
            to: dayjs(next.from).subtract(1, 'day').toDate(),
          })
        }); 
      }

      // this.start.disabledDates.ranges.push({
      //   from: new Date(),
      //   to: dayjs(this.rentDates[0].from).subtract(1, 'day').toDate(),
      // })
    },
    //Указываем дефолтные значения даты
    setDefaultDate: function(){
      let currentDate = dayjs().add(1, 'day').format('MM/DD/YYYY')
      this.start.day = dayjs(currentDate).toDate();
      this.end.day = dayjs(currentDate).add(7, 'day').toDate();

      // //Ищем первую дату с которой можно забронировать авто
      // if (this.start.disabledDates.dates.length) {
      //   this.start.disabledDates.dates.forEach(date => {   
      //     date = dayjs(date).format('MM/DD/YYYY')
      //     if (date == currentDate) {
      //       currentDate = dayjs(currentDate).add(1, 'day').format('MM/DD/YYYY')         
      //     } else{
      //       this.start.day = dayjs(currentDate).toDate();
      //       this.end.day = dayjs(currentDate).add(6, 'day').toDate();
      //     }
          
      //   })  
      // } else{
      //   this.start.day = dayjs(currentDate).toDate();
      //   this.end.day = dayjs(currentDate).add(8, 'day').toDate();
      // }
      
    },
    //Проверка доступности машины в выбранные даты на backend
    checkAvailableDate: function(){
      axios.post(`${this.url}/car-card/${this.id}/is-available`, {
        id: this.id,
        from: dayjs(this.start.day).format('YYYY-MM-DD HH:MM:ss'),
        to: dayjs(this.end.day).format('YYYY-MM-DD HH:MM:ss')
      }).then(res => {
        if (res.data.available) {
          this.$refs.form.submit()
          ym(53583991, 'reachGoal', 'book-button-click');
        } else{
          this.showModal = true
          this.errorBooking = res.data.reason
        }
      })
    },
    goBack: function(){
      window.history.back();
    },
    //Получаем минимальное время бронирования авто в днях
    getMinRentTime: function(){
      return (this.car.rent_time_cars.min_rent_time / 60 / 60 / 24).toFixed()
    },
    //Получаем максимальное время бронирования авто в днях
    getMaxRentTime: function(){
      return (this.car.rent_time_cars.max_rent_time / 60 / 60 / 24).toFixed()
    },
    /**
     * Cклонения слов
     * @param {number} n Число
     * @param {array} text_forms Массив слов напрмиер ['аренда', 'аренды', 'аренд']
     */
    declensions: function(n, text_forms){
      n = Math.abs(n) % 100; var n1 = n % 10;
      if (n > 10 && n < 20) { return text_forms[2]; }
      if (n1 > 1 && n1 < 5) { return text_forms[1]; }
      if (n1 == 1) { return text_forms[0]; }
      return text_forms[2];
    },
    notificaion1() {
      this.$refs.first.$emit('open')
    },
    notificaion2() {
      this.$refs.first.$emit('close')
    },
    // notificaion3() {
    //   this.$refs.from.$emit('close')
    //   this.$refs.to.$emit('open')
    // },
    // notificaion4() {
    //   this.$refs.to.$emit('close')
    //   setTimeout(()=>{
    //     if (this.errorDate) {
    //       this.$refs.dostavka.$emit('open')  
    //     }
    //   }, 1000)
      
    // }
  },
}
</script>

