<template>
  <div>
    <div class="profile__public" v-if="childDataLoaded">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="profile__public__user">
                <div class="profile__public__user__image">
                  <img v-if="data.user.avatar" :src="data.user.avatar" alt="">
                  <img v-else src="/image/user.png" alt="">
                </div>
                <div class="profile__public__user__info">
                  <h3>{{data.user.name}}</h3>
                  <span>{{data.user.city ? data.user.city : 'Город: Не указано'}}</span>
                </div>
                <div class="profile__public__user__count">
                  <p>{{data.booking_amount}} {{declensions(data.booking_amount, ['аренда', 'аренды', 'аренд'])}}</p>
                  <p>{{getFromDate()}}</p>
                </div>
            </div>
            <div class="profile__public__confirmed">
              <div class="heading">
                <h2>Подтвержденная информация</h2>
              </div>
              <ul>
                <li :class="{ confirm : data.user.validate }">Допущен к вождению</li>
                <li :class="{ confirm : data.user.email_verified_at }">Email адресс</li>
                <li :class="{ confirm : data.user.confirmed }">Телефон</li>
              </ul>
            </div>
            <!-- <div class="profile__public__info">
              <div class="heading">
                <h2>Работа</h2>
              </div>
              <p>ОАО «Минимализм»</p>
            </div> -->
            <!-- <div class="profile__public__info">
              <div class="heading">
                <h2>Учёба</h2>
              </div>
              <p>ВолгГАСУ</p>
            </div>
            <div class="profile__public__info">
              <div class="heading">
                <h2>Знание языков</h2>
              </div>
              <p>Русский</p>
              <p>Английский</p>
            </div>
            <div class="profile__public__share">
              <p>Share this Turo profile</p>
              <ul>
                <li><a href="#"><i class="icon icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon icon-mail"></i></a></li>
                <li><a href="#"><i class="icon icon-copy"></i></a></li>
              </ul>
            </div> -->
          </div>
          <div class="col-lg-6">
            <div class="profile__public__about">
              <div class="heading">
                <h2>Об {{getNamePrepositional()}}</h2>
              </div>
              <p>{{data.user.description ? data.user.description : 'Описание: не указано'}}</p>
            </div>
            <div class="profile__public__cars">
              <div class="heading">
                <h2>Авто {{getNameAccusative()}}</h2>
              </div>
              <a :href="`/carcard/${car.id}`" v-for="car in data.cars.slice(0, 1)" :key="car.id" class="profile__public__cars__card big">
                <article>
                  <header>
                      <img v-if="car.image" :src="car.image" alt="">
                      <img v-else src="/image/no_image.jpg" alt="">
                  </header>
                  <main>
                    <h3>{{car.brand.name}} {{car.models_name}} <span>{{car.year_of_issue}}</span></h3>
                    <div class="count">
                      {{car.booking_count}} {{declensions(car.booking_count, ['поездка', 'поездки', 'поездок'])}}
                    </div>
                    <div class="price">
                        {{car.cost_day}} <span>₽/сутки</span>
                    </div>
                  </main>
                </article>
              </a>
              <a :href="`/carcard/${car.id}`" v-for="car in data.cars.slice(1, 3)" :key="car.id" class="profile__public__cars__card small">
                <article>
                  <header>
                      <img v-if="car.image" :src="car.image" alt="">
                      <img v-else src="/image/no_image.jpg" alt="">
                  </header>
                  
                  <main>
                      <h3>{{car.brand.name}} {{car.models_name}} <span>{{car.year_of_issue}}</span></h3>
                    <div class="price">
                      {{car.cost_day}} <span>₽/сутки</span>
                    </div>
                    <div class="count">
                      {{car.booking_count}} {{declensions(car.booking_count, ['поездка', 'поездки', 'поездок'])}}
                    </div>
                  </main>
                </article>
              </a>
            </div>
            <!-- <div class="profile__public__review">
              <div class="heading">
                <h2>Отзывы  Арендаторов</h2>
              </div>
              <article class="profile__public__review__block">
                <header>
                  <img src="/image/photo.png" alt="">
                </header>
                <main>
                  <div class="stars">
                    <ul>
                      <li><i class="icon icon-star"></i></li>
                      <li><i class="icon icon-star"></i></li>
                      <li><i class="icon icon-star"></i></li>
                      <li><i class="icon icon-star"></i></li>
                    </ul>
                  </div>
                  <div class="review">
                    <p>ладно</p>
                  </div>
                  <div class="who">
                    <p>Ара Гаикович <span>5 мая 2019</span></p>
                  </div>
                </main>
              </article>
              <article class="profile__public__review__block">
                  <header>
                    <img src="/image/photo.png" alt="">
                  </header>
                  <main>
                    <div class="stars">
                      <ul>
                        <li><i class="icon icon-star"></i></li>
                        <li><i class="icon icon-star"></i></li>
                        <li><i class="icon icon-star"></i></li>
                        <li><i class="icon icon-star"></i></li>
                        <li><i class="icon icon-star"></i></li>
                      </ul>
                    </div>
                    <div class="review">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                    </div>
                    <div class="who">
                      <p>Ара Гаикович <span>5 мая 2019</span></p>
                    </div>
                  </main>
                </article>
            </div>
            <div class="profile__public__review">
              <div class="heading">
                <h2>Отзывы  Арендаторов</h2>
              </div>
              <article class="profile__public__review__block">
                <header>
                  <img src="/image/photo.png" alt="">
                </header>
                <main>
                  <div class="stars">
                    <ul>
                      <li><i class="icon icon-star"></i></li>
                      <li><i class="icon icon-star"></i></li>
                      <li><i class="icon icon-star"></i></li>
                      <li><i class="icon icon-star"></i></li>
                    </ul>
                  </div>
                  <div class="review">
                    <p>ладно</p>
                  </div>
                  <div class="who">
                    <p>Ара Гаикович <span>5 мая 2019</span></p>
                  </div>
                </main>
              </article>
              <article class="profile__public__review__block">
                <header>
                  <img src="/image/photo.png" alt="">
                </header>
                <main>
                  <div class="stars">
                    <ul>
                      <li><i class="icon icon-star"></i></li>
                      <li><i class="icon icon-star"></i></li>
                      <li><i class="icon icon-star"></i></li>
                      <li><i class="icon icon-star"></i></li>
                      <li><i class="icon icon-star"></i></li>
                    </ul>
                  </div>
                  <div class="review">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                  </div>
                  <div class="who">
                    <p>Ара Гаикович <span>5 мая 2019</span></p>
                  </div>
                </main>
              </article>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import dayjs from 'dayjs'
import petrovich from 'petrovich'
export default {
  props: ['id'],
  data(){
    return {
      url: this.$store.getters.getUrl,
      data: [],
      childDataLoaded: false,
    }
  },
  created(){
    axios.get(`${this.url}/public-profile/${this.id}`).then(res => {
      this.data = res.data
      this.childDataLoaded = true
    })    
  },
  methods: {
    getFromDate: function(){
      const monthNames = ["Января", "Февраля", "Марта", "Апреля", "Мая", "Июня",
        "Июля", "Августа", "Сентября", "Октября", "Ноября", "Декабря"
      ];
      return `C ${monthNames[dayjs(this.data.user.created_at).month()]} ${dayjs(this.data.user.created_at).year()}`
    },
    getNamePrepositional: function(){
      return petrovich.male.first.prepositional(this.data.user.name)
    },
    getNameAccusative: function(){
      return petrovich.male.first.accusative(this.data.user.name)
    },
    /**
     * Cклонения слов
     * @param {number} n Число
     * @param {array} text_forms Массив слов напрмиер ['аренда', 'аренды', 'аренд']
     */
    declensions: function(n, text_forms){
      n = Math.abs(n) % 100; var n1 = n % 10;
      if (n > 10 && n < 20) { return text_forms[2]; }
      if (n1 > 1 && n1 < 5) { return text_forms[1]; }
      if (n1 == 1) { return text_forms[0]; }
      return text_forms[2];
    }
  }
}
</script>
