@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img,
fieldset,
a img {
  border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

div,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
a:focus {
  outline: none;
}

ul,
ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

@font-face {
  font-family: 'Circe';
  src: url("/fonts/Circe-Bold.woff2") format("woff2"), url("/fonts/Circe-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("/fonts/Circe-Regular.woff2") format("woff2"), url("/fonts/Circe-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("/fonts/Circe-ExtraLight.woff2") format("woff2"), url("/fonts/Circe-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("/fonts/Circe-Light.woff2") format("woff2"), url("/fonts/Circe-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "iconfont";
  src: url("/fonts/iconfont.eot");
  src: url("/fonts/iconfont.eot?#iefix") format("eot"), url("/fonts/iconfont.woff2") format("woff2"), url("/fonts/iconfont.woff") format("woff"), url("/fonts/iconfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  display: inline-block;
}

.icon-arrow:before {
  content: "\EA01";
}

.icon-calendar:before {
  content: "\EA02";
}

.icon-facebook:before {
  content: "\EA03";
}

.icon-instagram:before {
  content: "\EA04";
}

.icon-mark:before {
  content: "\EA05";
}

.icon-menu:before {
  content: "\EA06";
}

.icon-search:before {
  content: "\EA07";
}

.icon-star:before {
  content: "\EA08";
}

.icon-user:before {
  content: "\EA09";
}

.icon-vk:before {
  content: "\EA0A";
}

.icon-arrow {
  width: 1em;
  height: 1em;
  fill: #444;
}

.icon-calendar {
  width: 0.88em;
  height: 1em;
  fill: initial;
}

.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}

.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}

.icon-mark {
  width: 1em;
  height: 1em;
  fill: initial;
}

.icon-menu {
  width: 1em;
  height: 1em;
  fill: initial;
}

.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}

.icon-star {
  width: 1em;
  height: 1em;
  fill: initial;
}

.icon-user {
  width: 1em;
  height: 1em;
  fill: initial;
}

.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}

.footer .logo {
  width: 100px;
}

.footer .logo img {
  width: 100%;
}

.footer__top {
  padding: 40px 0;
  background-color: rgba(44, 44, 44, 0.05);
}

.footer__top h2 {
  font-size: 18px;
  color: #777777;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__top p {
  font-size: 18px;
  color: #777777;
}

.footer__top p.last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__top ul li {
  line-height: 2.2;
}

.footer__top ul li a {
  font-size: 18px;
  color: #777777;
}

.footer__top ul li a:hover {
  text-decoration: underline;
}

.footer__bottom {
  padding: 25px 0;
}

.footer__bottom a {
  color: #6b2ad0;
  text-decoration: underline;
}

.footer__bottom .social a {
  margin-right: 15px;
}

.footer__bottom .social a i {
  font-size: 15px;
  color: black;
}

body {
  font-family: 'Circe';
  font-size: 1rem;
}


/*# sourceMappingURL=footer.css.map*/