.profile__public
  padding-top: 80px
  .heading
    h2
      font-size: 21px
      margin-bottom: 20px
  p
    font-size: 19px
    font-weight: 300

.profile__public__user
  display: flex
  flex-wrap: wrap
  align-items: center
  margin-bottom: 40px
  &__image
    width: 130px
    height: 130px
    border-radius: 50%
    overflow: hidden
    border: solid 2px $yellow
    img
      width: 100%
      object-fit: cover
      object-position: 50% 50%
  &__info
    flex: 1
    margin-left: 65px
    h3
      font-size: 21px
      colorL black
    span
      font-size: 19px
      font-weight: 300
  &__count
    width: 100%
    display: flex
    margin-top: 20px
    p
      position: relative
      &:first-child
        padding-left: 15px
        margin-right: 100px
        &:before
          content: ''
          width: 6px
          height: 6px
          position: absolute
          left: 0
          top: 10px
          border-radius: 50%
          background: $yellow

.profile__public__confirmed
  margin-bottom: 40px
  ul
    li
      font-size: 19px
      font-weight: 300
      line-height: 2.08
      position: relative
      padding-left: 30px
      &:before
        content: ''
        width: 15px
        height: 15px
        background-size: contain
        background-repeat: no-repeat
        display: block
        position: absolute
        left: 0
        top: 10px
        background-image: url(/image/icon/cancel.svg)
      &.confirm
        &:before
          background-image: url(/image/icon/confirm.svg)

.profile__public__info
  margin-bottom: 40px
  p
    line-height: 2.08

.profile__public__share
  p
    font-size: 21px
    color: #808080

.profile__public__about
  margin-bottom: 60px
  p
    line-height: 1.21
  a
    color: $yellow

.profile__public__cars
  display: flex
  flex-wrap: wrap
  margin-bottom: 40px
  &__card
    display: block
    color: black
    text-decoration: none
    &:hover
      color: black
    header
      margin-bottom: 20px
      img
        width: 100%
    main
      h3
        font-size: 21px
        color: #191919
        span
          font-weight: 300
      .count
        font-weight: 100
        font-size: 19px
        margin-left: 40px
        color: #191919
      .price
        font-size: 21px
        font-weight: 400
        flex: 1
        text-align: right
        color: #191919
        span
          font-weight: 300
    &.big
      width: 100%
      margin-bottom: 40px
      main
        display: flex
        align-items: center
        +r($small)
          flex-wrap: wrap
          flex-direction: row-reverse
        h3
          font-size: 21px
          color: #191919
          +r($small)
            width: 100%
            text-align: left
          span
            font-weight: 300
        .price
          +r($small)
            text-align: left
    &.small
      width: 50%
      flex: 1
      +r($small)
        width: 100%
        flex: auto
        margin-bottom: 40px
      main
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        h3
          width: 100%
        .count
          text-align: right
          margin-left: 0
        .price
          text-align: left
    &:nth-of-type(2)
      margin-right: 30px
      +r($small)
        margin-right: 0

.profile__public__review
  &__block
    display: flex
    flex-wrap: wrap
    margin-bottom: 40px
    +r($small)
      flex-direction: column
      align-items: center
    header
      width: 100px
      height: 100px
      border-radius: 50%
      overflow: hidden
      border: solid 2px $yellow
      margin-right: 30px
      +r($small)
        margin-bottom: 20px
      img
        width: 100%
        object-fit: cover
        object-position: 50% 50%
    main
      flex: 1
      .stars
        margin-bottom: 10px
        ul
          display: flex
          li
            margin-right: 10px
            i
              color: $yellow
              font-size: 20px
      .review
        margin-bottom: 20px
        p
          line-height: 1.21
          font-weight: 100
      .who
        p
          font-size: 19px
          font-weight: bold
          span
            padding-left: 55px
            font-weight: 300



  