<template>
    <div>
        <section class="chat-section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="col-12">
                            <h2 class="form-production-date__title">
                                <a href="/message/list" style="color: #000;"> < Назад </a>
                            </h2>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <div class="contaiiner-select-chat">
                                    <ul v-if="chatCars">
                                        <li v-for="(chatCar, i) in chatCars" :key="i">
                                            <div class="item-select-chat" 
                                            v-bind:class="{ active: chatCar.id === selectingCar.id }" @click="defineSelectingCar(chatCar)">
                                                <div>
                                                    <img class="item-img-car" :src="'https://hb.bizmrg.com/soautomedia/' + chatCar.images.name" alt="">
                                                </div>
                                                <div>
                                                    <h5>{{chatCar.interlocutor.name}}</h5>
                                                    <!-- <span>{{chatCar.lastMessage}}</span> -->
                                                </div>
                                                <div>
                                                    <span class="time">12:05</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-7">
                                <div v-if="selectingCar && selectingCar.length !== 0">
                                    <div class="row">
                                        <div class="col-12 top-container-chat">
                                            <h1 class="about-car__title" style="margin-bottom: unset;">
                                                {{selectingCar.brand}} {{selectingCar.model}}
                                            </h1>
                                            <div class="chat-info">
                                                <div class="row">
                                                    <div class="chat-info-user">
                                                        <h2 class="form-production-date__title">{{selectingCar.interlocutor.name}}</h2>
                                                        <!-- <span class="last-seen">был сегодня в 21:00</span> -->
                                                    </div>
                                                    <div>
                                                        <img class="chat-img-car" :src="'https://hb.bizmrg.com/soautomedia/' + selectingCar.images.name" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-container">
                                        <div class="message-body" 
                                        v-for="(message, i) in selectingCar.messages" :key="i"
                                        v-bind:class="{ interlocutor: message.user_id != currnet_user.id, you: message.user_id == currnet_user.id }">
                                            <div class="message">
                                                {{message.content}}
                                            </div>
                                            <div class="time">
                                                <!-- {{message.created_at}} -->
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="container-send-input">
                                        <div class="send-input">
                                            <input type="text" placeholder="Сообщение" v-model="textMessage" @keyup.enter="sendMessage">
                                        </div>
                                        <div class="send-button">
                                            <img src="https://image.flaticon.com/icons/svg/60/60525.svg" @click="sendMessage" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div v-else>
                                    <div class="not-found-chat">
                                        <h1>Выберите чат</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        props: ['propsArray'],
        name: "chat-dialogues",
        data () {
            return {
                chatCars: this.propsArray.chatCars,
                selectingCar: [],
                currnet_user: this.propsArray.user,
                textMessage: ''
            }
        },
        mounted() {

            window.Echo.channel('chat')
                .listen('Message', ({message}) => {
                    this.chatCars.forEach(function(chatCar) {
                        if (chatCar.room_id == message.room_id) {
                            chatCar.messages.push(message)
                        }
                    });
                });
        },
        methods: {
            // Sending to server
            sendMessage() {
                axios.post('/chat/messages', {'content': this.textMessage, 'user_id': this.currnet_user.id, 'room_id': this.selectingCar.room_id} );

                this.selectingCar.messages.push({'content': this.textMessage, 'user_id': this.currnet_user.id, 'room_id': this.selectingCar.room_id});

                this.textMessage = '';
            },
            defineSelectingCar(car) {
                this.selectingCar = car
            }
        }
    }
</script>
