.how__page__intro
  .btn-purple
    margin-right: 200px
    +r($medium)
      margin-right: 20px
    +r($small)
      margin-right: 0
      margin-bottom: 20px


//Доставка
.how__page__delivery
  background: #2c2c2c
  padding: 85px 0 75px
  h2
    margin-bottom: 40px
  p
    font-size: 24px
    margin-bottom: 50px
    text-align: center
    &.yellow
      color: $yellow
      padding: 0 100px
      +r($small)
        padding: 0
        font-size: 16px
  h3
    font-size: 30px
    text-transform: uppercase
    color: white
    text-align: center
    margin-bottom: 50px
  &__block
    display: flex
    flex-direction: column
    align-items: center
    i
      font-size: 100px
      color: white
    p
      color: white
      font-size: 23px
      +r($small)
        font-size: 18px
  .btn-purple
    margin-right: 30px
    +r($medium)
      margin-right: 10px
    +r($small)
      margin-right: 0
      margin-bottom: 20px
      

.how__page__road
  height: 2115px
  overflow: hidden
  position: relative
  +r(990)
    height: 100%
  .container
    position: relative
  h2
    font-size: 40px
    font-weight: bold
    margin-top: 50px
    margin-bottom: 45px
    text-align: center
  &__block
    padding: 20px 30px
    font-size: 24px
    width: 420px
    text-align: right
    border-radius: 30px
    position: relative
    z-index: 10
    &:before
      content: ''
      position: absolute
      top: 0
      width: 0
      height: 0
      border-style: solid
    p
      font-size: 19px
  .left
    h2
      color: $purple
    &__block
      background: $purple
      color: white
      border-top-right-radius: 0
      &:before
        right: -35px
        border-width: 40px 50px 0 0
        border-color: $purple transparent transparent transparent
      &:nth-of-type(1)
        margin-bottom: 40px
      &:nth-of-type(2)
        margin-bottom: 40px
      &:nth-of-type(3)
        margin-bottom: 135px
        left: 120px
      &:nth-of-type(4)
        margin-bottom: 120px
        left: 30px
      &:nth-of-type(5)
        margin-bottom: 160px
        left: -45px
  .right
    position: absolute
    right: -90px
    h2
      color: $yellow
      margin-right: 160px
    &__block
      background: $yellow
      border-top-left-radius: 0
      text-align: left
      color: black
      &:before
        left: -35px
        border-width: 0 50px 40px 0
        border-color: transparent $yellow transparent transparent
      &:nth-of-type(1)
        margin-bottom: 50px
      &:nth-of-type(2)
        margin-bottom: 155px
      &:nth-of-type(3)
        left: -70px
        margin-bottom: 65px
      &:nth-of-type(4)
        left: -70px
        margin-bottom: 135px
      &:nth-of-type(5)
        left: -70px
  .center
    background-image: url(/image/road.png)
    width: 335px
    height: 2220px
    background-size: cover
    position: absolute
    left: 50%
    top: -85px
    transform: translateX(-50%)
    .car
      position: absolute
      top: 100px
      left: 213px
      width: 60px
      height: 140px
      img
        width: 100%
  .medium
    .center
      background-image: url(/image/road-medium.png)
      width: 100px
      .car
        left: 15px
    .how__page__road__block
      width: 350px
      left: 0
      right: 0
      margin-bottom: 50px !important
  .small
    padding-top: 50px
    .center
      display: none
      height: 100%
      left: 40px
      background-image: url(/image/road-medium.png)
      background-repeat: repeat
      background-size: contain
      .car
        left: 15px
    .right
      position: static
      width: 100%
    h2
      display: none
    .how__page__road__block
      width: 100%
      left: 0
      right: 0
      margin-bottom: 50px !important
      border-radius: 30px
      &:before
        display: none
