.info__page
  padding-top: 35px
  h1
    font-size: 40px
    font-weight: 600
    font-family: Druk-Wide
    letter-spacing: 0.8px
    margin-bottom: 65px
  &__block
    padding: 50px 70px
    h2
      font-size: 24px
      font-weight: bold
      margin-bottom: 30px
      text-transform: uppercase
    ul
      list-style: disc
      padding-left: 20px
      li
        font-size: 18px
        margin-bottom: 30px
        font-weight: 500
    &.active
      border: solid 5px $yellow
      padding: 50px 30px
  &__list
    position: sticky
    top: 20px
    h3
      font-size: 18px
      border-bottom: 1px dashed #000000
      display: inline-block
      padding-bottom: 30px
      margin-bottom: 25px
      width: 140px
      font-weight: 500
    ul
      li
        font-size: 18px
        padding: 10px 20px
        font-weight: 500
        cursor: pointer
        a
          color: black
          &:hover
            color: black
            text-decoration: none
        &.active
          background: $yellow
          font-weight: bold
          &:hover
            background: $yellow
        &:hover
          background: #ebebea
      



