.car
  padding: 40px 0
  h1
    font-family: Druk-Wide
    margin-bottom: 15px
    font-size: 36px
    span
      font-size: 24px
  h2
    font-size: 36px
    font-weight: bold
    margin-bottom: 15px
    span
      font-size: 24px
      font-weight: normal
  a
    color: $yellow !important
    &:hover
      color: $yellow !important
      text-decoration: underline


.heading
  h2
    font-family: Druk-Wide
    font-size: 26px
    +r($small)
      font-size: 22px
    span
      cursor: pointer

//Дата
.car__date
  display: flex
  flex-wrap: wrap
  margin-bottom: 20px
  h4
    font-size: 22px
    margin-bottom: 10px
    width: 100%
.vdp-datepicker
  height: 36px
  border-bottom: 2px solid $yellow
  margin-right: 20px
  +r($small)
    width: 60%
  input
    font-family: Circe
    font-size: 19px
    font-weight: 300
  &__calendar
    z-index: 10000 !important

//Инфа справа
.car__info__right
  margin-bottom: 20px
  h3
    font-size: 22px
    font-weight: 500
    margin-bottom: 5px
  p
    font-size: 16px
    font-weight: 400
    display: flex
    justify-content: space-between
    width: 70%
    span

//Доставка
.car__delivery
  margin-bottom: 20px
  h4
    font-size: 22px
    margin-bottom: 10px
    width: 100%
  
//Слайдер
.car__slider
  margin-bottom: 40px
  img
    width: 100%
    height: 100%
    object-fit: cover
  .thumbnail
    margin-top: 20px
    display: flex
    flex-wrap: wrap
    &__block
      width: 100px
      height: 100px
      margin-right: 10px
      margin-bottom: 10px
      border: 1px solid transparent
      img
        width: 100%
        height: 100%
        object-fit: cover
      &.active
        border: 1px solid $yellow
  .swiper
    &-container
      height: 400px
      +r($small)
        height: 200px 

//Техническая характеристика
.car__technical
  margin-bottom: 40px
  &__block
    span
      font-size: 14px
      font-weight: 400
      color: #a9a9a9
    p
      font-size: 19px
      font-weight: 500


//Пользователь
.car__user
  display: flex
  flex-wrap: wrap
  align-items: center
  margin-bottom: 40px
  &__photo
    width: 130px
    height: 130px
    border-radius: 50%
    overflow: hidden
    border: solid 2px $yellow
    margin-right: 20px
    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: 50% 50%
  &__content
    flex: 1
    h2
      margin-bottom: 5px
      font-size: 26px
    p
      &.green
        color: green
      &.red
        color: red

//Опции
.car__options
  margin-bottom: 40px
  &__block
    position: relative
    padding-left: 20px
    &:before
      content: ''
      width: 5px
      height: 5px
      background: $yellow
      position: absolute
      top: 50%
      transform: translateY(-50%)
      left: 0
    p
      font-size: 19px

//Описание
.car__desc
  margin-bottom: 40px
  p
    font-size: 19px
    font-weight: 400
    line-height: 1.5

//Extra
.car__extra
  margin-bottom: 40px
  h2
    margin-bottom: 0
  p
    font-size: 14px
    color: grey
  &__block
    display: flex
    flex-wrap: wrap
    align-items: center
    margin-top: 20px
    border-bottom: 1px solid $yellow
    padding-bottom: 20px
    .content
      width: 75%
      h3
        font-size: 22px
        font-weight: 500
      p
        font-size: 16px
        font-weight: 400
    .cost
      font-size: 24px
      font-weight: 500
      text-align: right
      line-height: 1
      flex: 1
      +r($small)
        text-align: left
        margin-top: 5px

.car
  .swiper-pagination-bullet
    margin: 0 4px
    &-active
      background: $yellow