.catalog-card
  height: 225px
  border-radius: 5px
  overflow: hidden
  margin-bottom: 35px
  box-shadow: 1px 3px 4px 0 rgba(154,154,154,0.50)
  border: none
  position: relative
  transition: 0.3s
  &:before
    content: ''
    background-color: rgba($yellow, 0.5)
    width: 100%
    height: 100%
    position: absolute
    z-index: 10
    opacity: 0
    transition: 0.3s
  &:hover
   box-shadow: 1px 10px 10px 0 rgba(154,154,154,0.50)
   &:before
     opacity: 1
  img
    width: 100%
    height: 100%
    display: block
    object-fit: cover
  &__block
    width: 100%
    height: 55px
    bottom: 0
    position: absolute
    z-index: 20
    background: rgba(#000000, 0.5)
    color: white
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 15px
    box-sizing: border-box
    h2
      font-size: 18px
      font-weight: bold
      color: white
      margin-bottom: 0
      span
        font-size: 12px
        display: block
        font-weight: normal
    h3
      font-size: 18px
      font-weight: bold
      span
        display: block
        font-size: 12px
        font-weight: normal