.filter
  margin-bottom: 0 !important
  h2
    font-family: Druk-Wide
    font-size: 22px
    margin-bottom: 20px
  .form
    &__select, &__slider
      margin-bottom: 20px
    &__primary
      margin-bottom: 30px
    &__slider
      position: relative
      &__block
        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1)
        height: 85px
        padding: 20px
        position: absolute
        width: 100%
        background: white
        z-index: 10
        p
          font-size: 14px
          margin-bottom: 10px
          letter-spacing: -0.3px
          text-align: center
        .vue-slider
          height: 1px !important
          &:hover .vue-slider-process
            background-color: $yellow
          &-process
            background-color: $yellow
          &-dot
            &-handle
              background-color: $yellow
              width: 11px
              height: 11px
              border: none
              position: relative
              top: 1px
    label
      display: block
    .label
      &__text
        font-size: 21px
        margin-bottom: 15px
        font-weight: 500
      &__btn
        height: 36px
        font-size: 19px
        border-bottom: 2px solid $yellow
        cursor: pointer
        display: flex
        justify-content: space-between
        align-items: center
        position: relative
        .down
          width: 10px
          height: 6px
          background-image: url(/image/icon/arrow.svg)
          background-size: cover
          position: absolute
          top: 50%
          right: 0
          transform: translateY(-50%)
          transition: 0.3s
          &.active
            transform: rotate(180deg) translateY(3px)
          &.remove
            display: none
        .clear
          padding-left: 10px
          .icon
            font-size: 12px
    &__more
      display: flex
      align-items: center
      height: 100%
      a
        height: 50px
        white-space: nowrap


//Кастомный селект      
.filter, .car
  .vs--open .vs__dropdown-toggle
    border: none
    border-bottom: 2px solid $yellow
    border-radius: 0
    cursor: pointer
  .vs__selected-options
    display: flex
    flex-wrap: unset
    overflow: hidden
  .vs__dropdown-toggle
    border: none
    border-bottom: 2px solid $yellow
    border-radius: 0
    .vs__search, .vs__selected
      font-size: 19px
      font-weight: 400
      border: none
      padding: 0
      margin: 0
      font-family: Circe
      line-height: inherit
      background: white
      padding-right: 15px
      white-space: nowrap
    .vs__selected-options
      padding: 0
  .vs__dropdown-menu
    border: none
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1)
    padding: 0
  .vs__dropdown-option
    font-size: 19px
    font-weight: 400
    letter-spacing: -0.4px
    display: flex
    flex-wrap: wrap
    align-items: center
    padding: 0 10px
    height: 35px
    &:not(:last-child)
      border-bottom: 1px solid #e8e8e8
    p
      position: relative
      top: 2px
      width: 200px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
    span
      width: 15px
      height: 15px
      border-radius: 50%
      border: 1px solid #808080
      margin-right: 15px
      &:before
        content: ''
        width: 6px
        height: 6px
        opacity: 0
        display: block
        border-radius: 50%
        background: $yellow
        transform: translate(3.3px, 3.3px)
        transition: 0.3s
  .vs__dropdown-option--highlight
    background: none
    color: black
    span:before
      opacity: 1
  .vs__clear, .vs__deselect
    span
      &:before
        content: $icon-cancel
        font-family: iconfont
        font-size: 10px
  .vs__open-indicator
    background-image: url(/image/icon/arrow.svg)
    width: 10px
    height: 6px
    background-size: cover
  .multiply
    .vs__dropdown-option--selected
      font-weight: 500
      padding-left: 10px
      &:before
        content: ''
        width: 4px
        height: 4px
        display: block
        background: $yellow
        border-radius: 50%
        margin-right: 7px